.syn-vis {
  font-family: 'Helvetica Neue';
}

.syn-vis.syn {
  border-style: solid;
  border-color: rgb(80, 180, 255);
  border-width: 2px;
  border-right-width: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  padding: 5px;
  margin-bottom: 5px;

  transition: all 0.2s;
}

.syn-vis.syn:not(:hover) {
  background-color: rgba(0, 0, 0, 0.1);
}

.syn-vis.syn:hover {
  background-color: rgba(80, 80, 20, 0.1);
  border-color: rgb(255, 255, 0);
  box-shadow: 0 0 5px rgba(80, 80, 0, 0.8);
}

.syn-vis.code {
  font-family: monospace;
  padding: 5px;
  border: 1px solid #999;
  background-color: #EEE;
  white-space: pre;
}

.syn-vis.prop {
  margin-top: 5px;
  margin-left: 10px;
}

.syn-vis.type-label {
  display: block;
  margin-bottom: 4px;
}

.syn-vis.prop-label {
  display: inline-block;
  font-weight: 800;
  margin-bottom: 4px;
  margin-top: 8px;
}
